.container {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Updated property */
    /* background-color: #85FFBD; */
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    padding: 30px;
  }
  
  .card {
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    height: 80%;
    padding: 40px;
    margin-left: 40px;
    flex-grow: 1; /* Updated property */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover; /* Added property */
    background-position: center; /* Added property */
  
  }
  
  .card p {
    padding: 20px;
  }
  
  .button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4c7fa7;
    width: fit-content;
  }
  

  .card1 {
    background-image: url("../../asset/images/findpairBg.jpg");
  }
  
  .card2 {
    background-image: url("../../asset/images/venuedecbg.jpg");
  }

  .card1 button{
    background-color: #FC00FF;
  }

  .card2 button{
    background-color: #00C0DE;
  }
  